* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "roboto";
  background-color: #1c1934;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

i {
  color: rgb(255, 200, 0);
  padding: 0 0.3rem;
}

.section {
  padding: 2rem 8rem;
  text-align: center;
}

.heading--primary {
  font-size: 5.2rem;
}

.heading--secondary {
  font-size: 4rem;
}

.paragraph--main {
  font-size: 4.2rem;
  padding: 2rem 2rem;
  background-color: #000000cc;
  backdrop-filter: blur(7px);
  border-radius: 30px;
}

.header {
  height: 100vh;
  background-image: url(./src/img/header.png);
  background-size: cover;
}

.nav {
  height: 20vh;
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: 10fr 80fr 10fr;

  justify-items: center;
  align-items: center;
}

.nav h1 {
  font-size: 9.6rem;
  text-transform: uppercase;
  text-shadow: 0px 0px 25px #8b5382;
}

.nav__links {
  display: flex;
  flex-direction: column;
  font-weight: 700;

  font-size: 3rem;
  gap: 2rem;

  text-align: center;
}

.nav__links:hover {
  cursor: pointer;
}

.nav__links--link {
  padding: 1rem 2rem;

  color: #882a6f;
  background-color: #ffd4fb;

  border-radius: 12px;
}

.nav picture {
  height: 100%;
  justify-self: baseline;
}

.nav__logo {
  border-radius: 50%;
}

.nav__mobile {
  display: none;
}

.header__text-box {
  max-width: 75%;
  height: 80vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  gap: 2rem;

  text-align: center;
}

.header__text-box span {
  font-weight: 700;
  color: #882a6f;

  font-size: 5.2rem;
}

.header__link {
  font-weight: 700;
  text-decoration: nosne;
  color: #b2dff7;

  transition: all 0.2s;
}

.header__link:hover {
  color: #882a6f;
}

.btn {
}

.card__telegram i {
  color: #229ed9;
  font-size: 6rem;
}

/* SECTION COMPARAZIONI */

.section__comparazioni {
}

.card {
  background-color: #ffd4fb;
  color: #222;

  box-shadow: 0px 0px 5px 3px #8b5382;
  border: none;

  margin: 1rem 0;
  padding: 0 2rem;

  border-radius: 20px;
}

.card--comparazioni {
  display: grid;
  grid-template-columns: 25fr 20fr 40fr 15fr;

  align-items: center;
  justify-items: center;
}

.card__container {
  width: 100%;
  padding: 0 2rem;
  margin: 2rem 0;

  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;

  gap: 1rem;

  font-size: 2.8rem;
}

.card__element {
  display: flex;
  gap: 2rem;
  width: 40%;
}

.card__container h4 {
  font-size: 5.2rem;
  color: #222;
}

.card__container p {
  font-size: 3.6rem;
  color: #444;
}

.fa-star {
  font-size: 4.8rem;
}

.card__element i {
  color: #000;
}

.card--btn {
  margin: 2rem 0;
  padding: 1.5rem 3rem;
  font-size: 3.6rem;
  font-weight: 700;
  background-color: rgb(13, 217, 13);
  color: #fff;
  border: none;
  border-radius: 24px;
}

.card--btn:hover {
  cursor: pointer;
}

.section__unisciti {
  padding: 4rem 18rem;
}

.card__telegram {
  background-color: #ffd4fb;
  color: #222;

  box-shadow: 0px 0px 5px 3px #8b5382;
  border: none;

  margin: 3rem auto;
  padding: 1rem 2rem;
  font-size: 3rem;

  border-radius: 20px;

  width: 75%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.live {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
  height: 3.5rem;
  width: 3.5rem;
  background-color: rgb(246, 32, 32);

  border-radius: 50%;
}
/* RECENSIONI */

.recensioni__container {
  margin: 4rem 0;
}

.card--recensioni {
  margin: 2rem 0;
  display: flex;
  text-align: left;

  gap: 10rem;
}

.card--recensioni .card__logo {
  width: 75%;
  padding-left: 10%;
  text-align: center;
}

.recensioni--element {
  display: flex;
  gap: 1rem;
}

.recensioni--element p {
  font-weight: 700;

  color: #111;
}

.card__container--recensioni {
  width: 100%;
  padding: 0 2rem;
  margin: 2rem 0;

  display: flex;
  flex-direction: column;

  justify-content: space-around;

  gap: 1rem;

  font-size: 2.8rem;
}

iframe {
  width: 85%;
  height: 100%;
}
